.footer{
    width: 100%;
    background-color: #24263b;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-contact{
    margin-top: 30px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li{
    display: flex;
    flex-direction: column;
}

.footer-link{
    font-size: 20px;
    color: aliceblue;
}

.footer-link:hover{
    color: orange;
}

.social{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.fa{
    font-size: 30px;
    color: aliceblue;
    padding-bottom: 10px;
}

.cont-head{
    color: rgb(255, 234, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}